doctype
html
    head
        meta(charset="utf-8")
        title filter
    body
        //- h3 markdown
        //- :markdown
        //-     Hi,this is **markdown** [link](http://baidu.com)

        h3 less
        style
            :less
                body {
                    color:red
                }
