#layer
  p.title #{title}
  p.title2 混入的样式
  p.title3 混入的样式(带参数)
  p.title4 混入的样式(默认参数)
  p.title5 运算
  p.title6 避免编译
  p.title7 !important
  p.title8 color函数
  p.title9 color函数
  p.title10 Math函数
  .triangle
  ul.list
    - for(let i=0;i<arr.length;i++) 
      li 
        a(href="javascript:;") 不错的手机品牌：
        span #{arr[i]}
#layer2
  p 命名空间        
  .img